<div class="page-container">
    <div class="screen screen-left-lg">
        <%= link_to new_planet_path do %>
            <%= translate("Planet Creation", "translate-left") %>
        <% end %>
    </div>
    <div class="screen screen-lg">
        <% @planets.each do |planet| %>
            <%= link_to planet_path(planet) do %>
                <%= translate(planet.name, "planet-list") %>
            <% end %>
        <% end %>
    </div>
</div>
