<div class="page-container">
    <div class="screen screen-left-lg">
        <%= link_to new_contact_path do %>
            <%= translate("Contact Creation", "translate-left") %>
        <% end %>
    </div>
    <div class="screen screen-lg">
        <% @contacts.each do |contact| %>
            <%= link_to contact_path(contact) do %>
                <%= translate(contact.character.name, "contact-list") %>
            <% end %>
        <% end %>
    </div>
</div>
