<section>

    <%= section_header("Profiles") %>

    <div class="characters">

        <div class="char-list">

            <% letter = "" %>

            <% @characters.each do |char| %>

                <% if char.name[0] != letter %>

                    <% letter = char.name[0] %>
                    <p class="sw segmentor"><%= letter %></p>

                <% end %>

                <p class="char-name"><%= link_to char.name, character_path(char) %></p>

            <% end %>

        </div>

        <div class="char-new">

            <%= link_to new_character_path do %>
                <div class="button success">+</div>
            <% end %>

        </div>

    </div>

</section>