/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: 'aurebesh';
    src: font-url('Aurebesh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 body {
     margin: 0;
     padding: 0;
     background-color: black;
     background-image: url('stars.png');
     background-repeat: repeat;
     color: #fafafa;
     font-family: 'Share Tech Mono', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
     font-size: 16px;
     letter-spacing: 1px;
 }

 ::-webkit-scrollbar {
    display: none;
}

 a {
     color: inherit;
     text-decoration: none;
 }

 input {
     padding: 0;
 }

 .page-container {
     padding-top: 24px;
     display: flex;
     justify-content: space-evenly;
     box-sizing: border-box;
     height: calc(100vh-135px);
     max-height: calc(100vh - 135px);
     min-height: calc(100vh - 135px);
     overflow-y: scroll;
     align-items: space-between;
 }