.character-index-primary {
    display: flex;
    flex-wrap: wrap;
}

.character-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom {
    text-align: center;
    display: inline;
    text-transform: uppercase;
}

.brawn {
    color: #55f;
}
.level.brawn {
    border: 1px solid #55f;
}
.level-true.brawn {
    background-color: #55f;
}
.intellect {
    color: #ff5;
}
.level.intellect {
    border: 1px solid #ff5;
}
.level-true.intellect {
    background-color: #ff5;
}
.agility {
    color: #5f5;
}
.level.agility {
    border: 1px solid #5f5;
}
.level-true.agility {
    background-color: #5f5;
}
.cunning {
    color: #fa5;
}
.level.cunning {
    border: 1px solid #fa5;
}
.level-true.cunning {
    background-color: #fa5;
}
.presence {
    color: #a5f;
}
.level.presence {
    border: 1px solid #a5f;
}
.level-true.presence {
    background-color: #a5f;
}
.willpower {
    color: #f55;
}
.level.willpower {
    border: 1px solid #f55;
}
.level-true.willpower {
    background-color: #f55;
}

