.character-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.character-details {
    display: flex;
    flex-direction: column;
}

.character-general, .character-attributes {
    margin: 32px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    .general-data {
        width: 15%;
        height: calc(width);
        .data-type {
            padding: 6px;
            margin: 0;
        }
        .data {
            text-align: center;
            font-size: 2em;
            padding: 6px;
            margin: 0;
        }
    }
}

.character-encumbrance {
    display: flex;
    flex-direction: column;
    .general-data {
        .data-type {
            text-transform: uppercase;
            text-align: center;
            padding: 6px;
            margin: 0;
            .sw {
                font-size: 24px;
            }
        }
        .data {
            text-align: center;
            font-size: 2em;
            padding: 6px;
            margin: 0;
        }
    }
}

.character-list {
    p {
        text-align: left;
    }
    margin: 12px;
}

.character-skills {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
    .category, .other {
        flex: 1 0 0;
        margin-left: 24px;
        margin-right: 24px;
    }
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 6px 0;
    p {
        margin: 0;
        margin-right: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .career {
        font-weight: bold;
        border-left: 2px solid #fff;
        padding-left: 6px;
    }
}

.level {
    border: 1px solid #fff;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 2px;
    box-sizing: border-box;
}
.level-display {
    display: flex;
    align-items: center;
}
.category {
    margin-bottom: 16px;
    .translate {
        margin-bottom: 16px;
    }
}

.item {
    margin: 0,
}

.character-stats {
    .translate {
        text-align: center;
        .sw {
            font-size: 24px;
        }
        .en {
            font-size: 12px;
        }
    }
}

.statistics {
    display: flex;
    justify-content: space-between;
}

.brawn {
    color: #55f;
}
.level.brawn {
    border: 1px solid #55f;
}
.level-true.brawn {
    background-color: #55f;
}
.intellect {
    color: #ff5;
}
.level.intellect {
    border: 1px solid #ff5;
}
.level-true.intellect {
    background-color: #ff5;
}
.agility {
    color: #5f5;
}
.level.agility {
    border: 1px solid #5f5;
}
.level-true.agility {
    background-color: #5f5;
}
.cunning {
    color: #fa5;
}
.level.cunning {
    border: 1px solid #fa5;
}
.level-true.cunning {
    background-color: #fa5;
}
.presence {
    color: #a5f;
}
.level.presence {
    border: 1px solid #a5f;
}
.level-true.presence {
    background-color: #a5f;
}
.willpower {
    color: #f55;
}
.level.willpower {
    border: 1px solid #f55;
}
.level-true.willpower {
    background-color: #f55;
}

