.base-modifiers {
    p {
        margin: 6px;
        font-size: 18px;
        text-align: center;
    }
}
.translate.modifier-title {
    margin-top: 32px;
}

.mod-options {
    p {
        margin: 6;
        font-size: 18px;
        text-align: center;
    }
}