// ===== INDEX PAGE ===== //

.index-container {
    flex-direction: column;
    align-items: center;
}

.index-primary {
    display: flex;
}

.index-menu {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.equipment-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bottom {
        display: flex;
        flex-direction: column;
        p {
            margin: 6px;
        }
    }
}
