@import 'fonts';
@import 'colors';
// ===== INDEX PAGE ===== //
section {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    margin: 6px 0 18px 0;
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    .user {
        text-align: right;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.user-credits {
    font-size: 20px;
}

.section-header {
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    p {
        font-size: 20px;
        span {
            padding: 0 2px;
        }
    }
}

.menu {
    display: flex;
    padding: 6px;
    flex-direction: column;
    li {
        border: 2px solid #111;
        padding: 6px;
        cursor: pointer;
        &:hover {
            border-color: silver;
        }
    }
}

.index-menu.wrapper {
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    width: 40%;
    margin: 12px;
    img {
        max-width: 100%;
    }
}