.screen {
    border: 2px solid #fff;
    box-shadow: 0 0 10px #0ff;
    border-top-left-radius: 10% 100%;
    border-bottom-left-radius: 10% 100%;
    border-top-right-radius: 10% 100%;
    border-bottom-right-radius: 10% 100%;
    background-color: rgba(0, 255, 255, 0.1);
    padding: 16px 32px;
    margin: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    min-height: 300px;
    min-width: 530px;
}

.screen-sm {
    height: 13.5vw;
    width: 24vw;
}
.screen-md {
    height: 18vw;
    width: 32vw;
}

.screen-lg {
    height: 36vw;
    width: 64vw;
}

.screen-left-md, .screen-right-md {
    width: 25vw;
    height: 18vw;
    min-width: 300px;
    min-height: 530px;
}

.screen-left-lg, .screen-right-lg {
    width: 18vw;
    height: 25vw;
    border-top-left-radius: 100% 10%;
    border-bottom-left-radius: 100% 10%;
    border-top-right-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
    min-width: 300px;
    min-height: 530px;
}