.sw {
    font-family: 'aurebesh';
}

.translate {
    margin: 12px 0;
    .sw {       
        font-size: 24px;
        margin: 0;
    }
    .en {
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;      
    }
}

.translate-sm {
    margin-bottom: 12px;
    .sw {
        font-size: 20px;
    }
    .en {
        font-size: 11px;
    }

}

.translate-lg {
    margin-bottom: 20px;
    .sw {
        font-size: 36px;
    }
    .en {
        font-size: 16px;
    }
}

.translate-left {
    text-align: left;
}

.translate-right {
    text-align: right;
}

.translate-center {
    text-align: center;
}

.translate-horizontal {
    display: flex;
}

.translate.danger {
    color: #a00;
}