.sw {
    font-family: 'aurebesh';
}

.translate {
    margin-bottom: 8px;
    .sw {       
        font-size: 24px;
        margin: 0;
    }
    .en {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;      
    }
}

.translate-sm {
    .sw {
        font-size: 20px;
    }
    .en {
        font-size: 10px;
    }

}

.translate-lg {
    .sw {
        font-size: 36px;
    }
    .en {
        font-size: 14px;
    }
}

.translate-left {
    text-align: left;
}

.translate-right {
    text-align: right;
}

.translate-center {
    text-align: center;
}

.translate-horizontal {
    display: flex;
}