.vehicle-index-container {
    flex-direction: column;
}

.vehicle-section {
    display: flex;
}

.vehicle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vehicle-attributes {
    display: flex;
    flex-direction: column;
}

.vehicle-stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    .general-data .data {
        text-align: center;
    }
}

.complement {
    p {
        text-align: center;
        text-transform: uppercase;
        margin: 6px;
    }
}

.vehicle-index-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}