.gear-rarity {
    display: flex;
    align-items: center;
    p {
        font-size: 24px;
        margin: 0;
        margin-left: 12px;
    }
}

.gear-cost {
    text-align: center;
    font-size: 32px;
    margin: 8px 0;
}

.weapon-specials {
    p {
        margin: 6px;
    }
}

.weapon-brands {
    p {
        margin: 8px;
        font-size: 18px;
        text-align: center;
    }
}