<div class="connection">

    <p class='sw'>Active Connection<span id="connection-tracker">&#9865;</span></p>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= notice %></p>
    <% end %>

</div>