<div class="header">

  <div class="header-lead">
    <div class="connection">
      <p class='connection integer'>Connection Active</p>
      <p id="connection-tracker">&#9865;</p>
    </div>
  </div>

  <div class="alerts">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= notice %></p>
    <% end %> 
  </div>

</div> 

