<div class="header">

  <div class="header-lead"> 
    <p class='sw connection' id="connection">Connection Waiting</p>
    <p class="tracker"><span id="connection-tracker">&#9865;</span></p>

    <%= render 'layouts/menu.html.erb'%>

  </div>

  <div class='header-icon'>

  </div>

</div> 