<%= section_header("Menu") %>

<div class="wrapper index-menu">

    <ul class="menu">

        <%= render 'layouts/links.html.erb' %>

    </ul>

    <div class="sidebar">

        <% num = rand(3) %>
        <%= image_tag("results/#{num}.png") %>

    </div>
    
</div>